@font-face {
  font-family: 'P5-Midnight';
  src: url('./assets/fonts/23 seconds to midnight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #d32f2f;
  --black: #0d0d0d;
  --dark-gray: #1a1a1a;
  --light-gray: #2d2d2d;
  --white: #e0e0e0;
  --font-main: 'P5-Midnight', "Arial Black", sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-main);
  overflow-x: hidden;
}